//
// Sass Feature Testing
//

// Variables
$color-red: rgb(206, 70, 70);

.wp-block-wdsbs-rich-text-demo {
	color: $color-red;
}

//
// SCSS Mixin Test
//
@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin horizontal-list {
	@include reset-list;

	li {
		display: inline-block;
		margin-left: -20px;
		margin-right: 20px;
	}
}

// Call Mixin
nav ul {
	@include horizontal-list;
}

//
// Autoprefixer Test
//
.auto-prefixer-example {
	background: linear-gradient(to bottom, white, black);
	display: grid;
	user-select: none;
}

//
// Media Query Packer Test
//
.foo {
	width: 100%;
}

@media (min-width: 640px) {
	.foo {
		width: 50%;
	}
}

.bar {
	width: 20%;
}

@media (min-width: 320px) {
	.bar {
		width: 25%;
	}
}

@media (min-width: 640px) {
	.bar {
		width: 80%;
	}
}

//
// Safe CSS Test
//
.this-css-is-broken {
	color: #0099ff
}
